[Unit]
Description=Tomcat service
After=syslog.target network.target

[Service]
Type=forking

ExecStart=/opt/apache-tomcat-7.0.92/bin/startup.sh
ExecStop=/opt/apache-tomcat-7.0.92/bin/shutdown.sh

User=root
Group=root
Restart=always

[Install]
WantedBy=multi-user.target

